/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site        : 'oarepo';
@reset       : 'default';
@fontName    : 'Roboto';

/* Elements */
@button      : 'oarepo';
@container   : 'oarepo';
@divider     : 'oarepo';
@flag        : 'oarepo';
@header      : 'oarepo';
@icon        : 'default';
@image       : 'oarepo';
@input       : 'oarepo';
@label       : 'oarepo';
@list        : 'oarepo';
@loader      : 'oarepo';
@placeholder : 'oarepo';
@rail        : 'oarepo';
@reveal      : 'oarepo';
@segment     : 'oarepo';
@step        : 'oarepo';

/* Collections */
@breadcrumb  : 'oarepo';
@form        : 'oarepo';
@grid        : 'oarepo';
@menu        : 'oarepo';
@message     : 'oarepo';
@table       : 'oarepo';

/* Modules */
@accordion   : 'oarepo';
@checkbox    : 'oarepo';
@dimmer      : 'oarepo';
@dropdown    : 'oarepo';
@embed       : 'oarepo';
@modal       : 'oarepo';
@nag         : 'oarepo';
@popup       : 'oarepo';
@progress    : 'oarepo';
@rating      : 'oarepo';
@search      : 'oarepo';
@shape       : 'oarepo';
@sidebar     : 'oarepo';
@sticky      : 'oarepo';
@tab         : 'oarepo';
@transition  : 'default';

/* Views */
@ad          : 'oarepo';
@card        : 'oarepo';
@comment     : 'oarepo';
@feed        : 'oarepo';
@item        : 'oarepo';
@statistic   : 'oarepo';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : '../../less/site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "~semantic-ui-less/theme.less";

@fontPath : "../../../themes/@{theme}/assets/fonts";

/* End Config */
